.booking-modal-container {
  .booking-modal-content {
    height: 500px;

    .booking-modal-header {
      border-bottom: 1px solid #ccc;
      padding: 10px;

      .left {

      }

      .right {
        float: right;
      }

    }

    .booking-modal-body {

    }

    .booking-modal-footer {
      height: 30px;
      border: 1px solid green;
    }
  }
}