.booking-modal-container {
  .booking-modal-content {
    height: 500px;

    .booking-modal-header {
      height: 30px;
      border: 1px solid red;
    }

    .booking-modal-body {

    }

    .booking-modal-footer {
      height: 30px;
      border: 1px solid green;
    }
  }
}