.manage-schedule-container {
  .m-s-title {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
  }

  .container {
    .pick-hour-container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      border: 1px solid red;
      padding-top: 20px;

      .btn-schedule {
        padding: 5px 17px;
        border: 1px solid gray;
      }
    }
  }
}