.manage-patient-container {
  .m-p-title {
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .manage-patient-body {
    padding: 0 20px;
  }
}