.detail-specialty-container {
  .description-specialty {
    border: 1px solid red;
    height: 200px;
  }

  .each-doctor {
    display: flex;
    width: 100%;

    .content-left {

      width: 50%;
    }

    .content-right {
      width: 50%;
    }
  }
}