.preview-img-container {
    display: flex;

    .label-upload {
        padding      : 5px;
        border-radius: 3px;
        background   : #ddd;
        cursor       : pointer;

        &:hover {
            opacity: 0.85;
        }
    }

    .preview-image {
        width : 50px;
        border: 1px solid red;
    }
}