.doctor-detail-container {
  height: 500px;
  margin: 0 100px;

  .intro-doctor {
    display: flex;

    .content-left {
      width: 20%;
      background-size: cover;
      background-position: top center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 10px 20px;
    }

    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
      }

      .down {
        padding-top: 10px;
      }
    }
  }

  .detail-infor-doctor {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ddd;

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}