.doctor-extra-infor-container {
  padding-left: 15px;

  .content-up {
    margin-bottom: 10px;

    .text-address {
      text-transform: uppercase;
      color: #333;
    }

    .name-clinic {
      font-weight: 600;
      color: #333;
      padding: 5px 0;
    }

    .detail-address {
      font-weight: 550;
      color: #333;
    }
  }

  .content-down {
    .title-price {

    }

    .detail-infor {
      .price {
        .left {

        }

        .right {
          
        }
      }

      .note {

      }
    }

    .payment {

    }

  }
}