.doctor-schedule-container {
  border-right: 1px solid green;
  height: 100%;

  .all-schedules {

  }

  .all-available-times {
    .text-calendar {
      color: #333;
      margin: 10px 0;

      span {
        text-transform: uppercase;
        margin-left: 5px;
      }
    }

    .time-content {
      display: flex;
      gap: 15px;
      //Khi không đủ không gian, tự động xuống hàng
      flex-wrap: wrap;

      button {
        padding: 8px 10px;
        border: none;
        outline: none;
        background-color: #fff04b;
        min-width: 120px;
        border-radius: 3px;
        font-weight: 550;
        color: #333;

        &:hover {
          background-color: #45c3d2;
          color: white;
        }
      }
    }
  }
}