.doctor-extra-infor-container {
  padding-left: 15px;

  .content-up {
    .text-address {
      text-transform: uppercase;
      color: #333;
    }

    .name-clinic {

    }

    .detail-address {

    }
  }

  .content-down {

  }
}