.profile-doctor-container {
  .intro-doctor {
    display: flex;

    .content-left {
      background-size: cover;
      background-position: top center;
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }

    .content-right {
      width: calc(100% - 85px);
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-size: 14px;
        font-weight: 550;
      }

      .down {
        text-align: justify;
      }
    }
  }
}
