.login-background {
    // background: rgb(34, 193, 195);
    height    : 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        width        : 400px;
        height       : 100%;
        margin       : 0 auto;
        border-radius: 10px;
        background   : white;

        .login-content {
            padding: 10px;
        }
    }
}